* {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	
}

html, body {
	height: 100%;
	width: 100%;
}

header {
	background-color: #455A64;
	float: left;
	height: 100%;
	position: relative;
	width: 50%;
}

.header-content {
	display: table;
	margin: auto;
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	width: 90%;	
}

h1 {
	color: #FFFFFF;
	font-size: 6.25vw;
	text-align: center;
	width: 100%;
}

img {
	width: 7.25vw;
}

input {
	display: block;
	font-size: 120%;
	margin: 50px auto;
	width: 95%;
}

input:focus {
	outline: 2px solid #FFC107;
	box-shadow: 0 0 5px rgba(255, 193, 7, 1);
}

.enter-button:focus {
	outline: 2px solid #CFD8DC;
	box-shadow: 0 0 5px rgba(255, 193, 7, 1);
}

::placeholder {

	/*check color of placeholder*/
}

.enter-button {
	background-color: #FFC107;
	border: 2px solid #FFC107;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 75%;
	font-weight: 800;
	margin: 20px auto;
	/*padding-right: 20px;
	padding-left: 20px;*/
	text-decoration: none;
	width: 96.75%;
}

main {
	background-color: #CFD8DC; 
	float: right;
	height: 100vh;
	position: relative;
	width: 50%;
}

.main-content {
	/*height 5vmax;*/
	display: table;
	margin: auto;
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	width: 100%;
}

article {
	background-color: #FFFFFF;
	border: 1px solid #607D8E;
	margin: 20px;
	padding: 10px 20px;
	position: relative;
}

h2 {
	color: #455A64;
	font-size: 180%;
}

p {
	border-bottom: 1px solid #CFD8DC;
	border-top: 1px solid #CFD8DC;
	font-size: 140%;
	padding: 20px 0px;

}

a {
	color: #607D8E;
	text-decoration: underline #F2F4F4;
}

button {
	/*inherit says take value from parent element*/
	background-color: inherit;
	border: none;
	color: #607D8E;
	font-size: 100%;
	text-decoration: underline #F2F4F4;
}

/*.read-button {
	float: left;
}
*/
.delete-button {
	bottom: 5.5%;
	right: 3%;
	padding: 0px;
	position: absolute;
	
		z-index: 0;
	/*float: right;*/
}

.read-button:hover, 
.delete-button:hover, 
a:hover {
	color: #455A64;
	text-decoration: underline #FFC107;
}



.read {
	background-color: #F2F4F4;
	color: #F05A28;
}
 /*we will figure out how to change the underline of the link
  and the color of the read between when the article has a class of .read*/

 
@media screen and (max-width: 700px) {
	input {
		margin: 20px auto;
	}

	h2 {
		font-size: 140%;
	}

	p {
		font-size: 120%;
	}

	header {
		float: none;
		height: auto;
		margin: 0px;
		width: 100%;
	}

	main {
		float: none;
		height: auto;
		margin: 0px;
		width: 100%;
	}
	
	.header-content, .main-content {
		display: block;
		position: static;
		padding: 5px;
	}

/*WHY IS OUR MAIN-CONTENT DIV'S RIGHT-MARGIN -10???*/
	/*.main-content {
		margin: 0px auto;
		margin-right: 10px;
	}*/

}


















